#hero {
  background: url("image/gedung traknus.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  color: white;
  text-align: left;
  position: relative;
}

.hero-tagline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.hero-tagline h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-tagline p {
  font-size: 1.25rem;
}
